*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    white-space: 0.5rem;
    color: #262535;
}

:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #4C4C4C;
    --color-darkblue: #262535;
    --color-yellow: #FAB01D;
    --color-yellowithe: #F9B838;
    --color-lightgray1: #f2f2f2;
    --color-lightgray2: #d9d9d9;
    --color-whitesmoke: #F0F0EA;
    --color-green: #46594E;
}

body{
    background-color: var(--color-lightgray);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.main-sections{
    background-color: var(--color-lightgray);
    /*min-height: 90vh;*/
}

.main-sections.green{
    background-color: var(--color-green);
    color: var(--color-whitesmoke);
}

.semi-sections{
    background-color: var(--color-lightgray);
    padding: 4rem 0;
}

.main-content{
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 100%;
    max-width: 180rem;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.semi-content{
    height: 100%;
    max-width: 180rem;
    margin: auto;
    padding-top: 4rem;
}

.title{
    font-size: 4.8rem;
    text-align: center;
    width: 100%;
}

.title span{
    color: #FAB01D;
}

/*HEADER*/

.fontey{
    font-family: 'inter', sans-serif;
    font-size: 6.4rem;
    color: var(--color-yellow);
}

.fonte{
    font-family: 'inter', sans-serif;
    font-size: 4rem;
    color: var(--color-white);
}

.fontep{
    font-family: 'inter', sans-serif;
    font-size: 3.2rem;
    color: var(--color-white);
}

.img-logo-header{
    width: 100%;
}

.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
    background: var(--color-dark2);
    padding: 2rem;
    z-index: 2;
}

.header .fonte{
    font-size: 2.4rem;
}

.logo-header{
    width: 15%;
}

.navigation_header{
    width: 80%;
    display: flex;
    justify-content: end;
    padding-right: 8rem;
}

.navigation_header li{
    list-style: none;
    margin-left: 10rem;
}

.navigation_header a{
    text-decoration: none;
    list-style: none;
    color: var(--color-lightgray2);
    transition: 300ms;
    font-weight: bold;
}

.navigation_header a:hover{
    color: var(--color-white);
}

/*INTRO*/

.intro{
    min-height: 100vh;
    background-color: var(--color-dark1);
    font-family: 'inter', sans-serif;
    background-image: url('../img/grama.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
}

.darkness{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.intro-text{
    padding-left: 5%;
    padding-bottom: 10%;
    z-index: 1;
}

.linha{
    display: block;
    background-color: var(--color-white);
    border-radius: 10px;
    width: 45vh;
    height: 1vh;
}

/*SOBRE NOS*/

.container-we{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.content-we{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    text-align: justify;
    font-size: 3.2rem;
    width: 50%;
}

.content-we li{
    margin-left: 3rem;
    font-weight: 600;
}

.container-we img{
    width: 30%;
    height: 20%;
    margin: 1rem;
}

/*TENEBRIUM*/

.tenebrium-con{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.tenebrium-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.tenebrium-text{
    width: 60%;
}

.header-tenebrium {
    margin: 1rem;
}

.description1, .description2 {
    font-size: 3.2rem;
    text-align: justify; 
}

.tenebrium-img {
    width: 30%; 
    object-fit: cover;
    border-radius: 50%;
}

/*VANTAGENS*/
.back-advantagens{
    border-radius: 2rem;
    width: 100%;
    background-color: var(--color-lightgray1);
    background-image: url(../img/Seta.png);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-position: top; /* Posição da imagem */
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.back-advantagens .title{
    color: var(--color-darkblue);
}

.advantagens{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.advantage-square{
    width: 24%;
    background-color: var(--color-yellowithe);
    height: 20rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms;
}

.icon{
    width: 30%;
}

.advantage-square:hover{
    transform: scale(1.05);
}

.advantage-square h3{
    text-align: center;
    font-size: 3.2rem;
    color: var(--color-darkblue);
}

.gap-green{
    height: 8rem;
    background: var(--color-green);
}

/*PÁGINA DUPLA*/

.double-section{
    display: flex;
    flex-flow: column wrap;
}

.double-section .title{
    margin-bottom: 4rem;
}

.production{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    background-color: var(--color-green);
    color: var(--color-whitesmoke);
    padding-bottom: 8rem;
}

.products{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    padding: 2rem 0;
}

.products .title{
    margin-top: 2rem;
}

.text-prod{
    display: block;
    text-align: justify;
    width: 40%;
    font-size: 3.2rem;
}

.img-prod{
    width: 20%;
    border-radius: 2rem;
}

.img-prodcts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-prodcts img{
    margin: 0 2rem;
}

/*PARCEIROS*/

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.partner-logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.partner-logos img {
    border-radius: 10%;
    width: 18rem;
    height: 18rem;
    margin: 1rem;
}

.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 90%;
    background-color: var(--color-yellowithe);
    border-radius: 0.8rem;
    padding: 2rem;
}

.contact-text{
    width: 90%;
    text-align: left;
    margin-left: 1rem;
}

.contact-text h3 {
    display: block;
    font-size: 4.8rem;
}

.contact-text p {
    display: block;
    font-size: 3.2rem;
}

.phone-number {
    margin-top: 1.6rem;
    color: var(--color-white);
    background: #262535;
    width: 90%;
    height: auto;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number{
    color: var(--color-white);
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

.phone-number:hover{
    transform: scale(1.1);
}

/*FOOTER*/

.footer {
    background-color: #4C4C4C;
    min-height: 50vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-lightgray1);
}

.footer-section{
    padding: 2rem;
}

.footer-section h3{
    margin-bottom: 1rem;
    font-size: 3.6rem;
}

.footer-section p{
    font-size: 3.2rem;
}

.map {
    width: 100%;
    text-align: center;
}

.map iframe{
    width: 100%;
}


/*MOBILE*/

@media (max-width: 80rem) {
    .main-content{
        padding-top: 6rem;
        margin: auto;
    }
    
    .semi-content{
        height: 100%;
        max-width: 180rem;
        padding-top: 6rem;
    }

    .header{
        height: 6rem;
    }
    
    .logo-header{
        width: 50%;
        max-height: 6rem;
        max-width: 30rem;
    }
    
    .fonte{
        font-size: 2.4rem;
    }
    
    .header .fonte{
        font-size: 0;
        display: none;
    }

    .title{
        font-size: 4.8rem;
        margin-bottom: 2rem;
    }
    
    /*SOBRE NÓS*/
    .container-we{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .content-we{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: baseline;
        font-size: 2.4rem;
        width: 80%;
    }

    .container-we img{
        display: none;
    }

    /*TENEBRIUM*/
    .tenebrium-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 20px;
    }

    .tenebrium-text{
        width: 90%;
    }

    .description1, .description2 {
        font-size: 2.4rem;
    }

    .tenebrium-img {
        width: 50%;
        margin-bottom: 1rem;
        border-radius: 50%;
    }
    
    /*VANTANGES*/
    
    .back-advantagens{
        width: 100%;
        height: 100%;
        background-position: 1rem;
        background-size: 100% 120%; 
    }
    
    .back-advantagens .title{
        color: #000;
    }
    
    .icon{
        width: 50%;
        max-width: 10rem;
    }    
    
    .advantage-square{
        width: 45%;
        height: 20rem;
        flex-flow: column;
        justify-content: space-around;
    }
    
    .advantage-square h3{
        text-align: center;
        font-size: 2.4rem;
        color: var(--color-darkblue);
    }

    /*Página dupla*/

    .production{
        width: 100%;
        flex-flow: column wrap;
    }
    
    .products{
        width: 100%;
        flex-flow: column wrap;
    }

    .img-prodcts{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-prodcts img{
        margin: 0 1rem;
        width: 20%;
    }

    .text-prod{
        width: 80%;
        font-size: 2.4rem;
    }

    .img-prod{
        width: 40%;
    }
    

    /*PARCEIROS*/

    .partners {
        flex-flow: column nowrap;
    }

    .partner-logos {
        flex-flow: column nowrap;
    }

    .contact {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: auto;
        background-color: var(--color-yellowithe);
        border-radius: 1rem;
        padding: 2rem;
    }
    
    .contact-text h3 {
        display: block;
        font-size: 4rem;
    }
    
    .contact-text p {
        font-size: 3.2rem;
    }
    
    .phone-number {
        width: 90%;
        height: auto;
        padding: 1rem;
        border-radius: 2rem;
        font-size: 3.2rem;
    }
}